<!DOCTYPE html>
<html lang="{% if function('function_exists', 'pll_current_language') %}{{function('pll_current_language')}}{% else %}en{% endif %}">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{post.title}}
			–
			{{site.name}}</title>
		{{ function('wp_head') }}

		<!-- Google Tag Manager -->
		<script>
			(function (w, d, s, l, i) {
w[l] = w[l] || [];
w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
var f = d.getElementsByTagName(s)[0],
j = d.createElement(s),
dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KFX6HFQG');
		</script>
		<!-- End Google Tag Manager -->
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFX6HFQG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		{% include 'preloader.twig' %}

		{% include 'navbar.twig' %}
		{% include 'cursor.twig' %}
		<main class="main" data-taxi>
			<div data-taxi-view> {% block content %}{% endblock %}
				<div id="pll" 
                     data-lang="{% if function('function_exists', 'pll_the_languages') %}{{ function('pll_the_languages', { 'raw': true, 'hide_current': 1 })|json_encode|url_encode }}{% else %}[]{% endif %}" 
                     data-active-lang="{% if function('function_exists', 'pll_current_language') %}{{function('pll_current_language')}}{% else %}en{% endif %}" 
                     data-nav-heading="{{'Workspace Solutions'|pll_e}}" 
                     data-nav-cta="{{ 'Book a Tour'|pll_e }}" 
                     data-img-heading="{{'Discover solutions to optimize how you and your team work'|pll_e}}" 
                     data-popup-right="{{ localizedPopupRight|json_encode|url_encode }}" 
                     data-footer-menu="{{ localizedFooterMenu|json_encode|url_encode }}" 
                     data-newsletter-heading="{{'Subscribe for the latest Flow updates.'|pll_e}}" 
                     data-nav-contact="{{'/contact-us'|pll_e}}">
                </div>
			</div>
		</main>
		{{ function('wp_footer') }}

		{% include 'footer.twig' %}
	</body>
</html>
