<footer class="footer">
	<div class="container">
		<div class="footer-left">
			<div class="menu-nav">
				{% for menu in footerMenu.items %}
					<div>
						<a href="{{menu.link}}">
							{{menu.title}}
						</a>
					</div>
				{% endfor %}
			</div>

			<div class="menu-social">
				{% for menu in footerSocial.items %}
					<a href="{{ menu.link }}" target="_blank" rel="noopener noreferrer">{{ menu.title }}</a>
				{% endfor %}
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-description">
				Flexible,<br/>
				Luxury Workspaces<br/>
				Inspired by AYANA
			</p>

			<div class="newsletter">
				<p>
					Subscribe for the latest Flow<br/>updates.
				</p>

				<div class="form-group">
					{{ function('do_shortcode', newsletter.items.0.title) }}
				</div>
			</div>
		</div>

		<div class="footer-end">
			<p>
				Address<br/>
				Midplaza 1 Lobby, Jl. Jend. Sudirman, Kav. 10-11<br/>
				Jakarta 10220 - Indonesia<br/>
				Phone: +62 21 5707777
			</p>

			<p>
				&copy;{{function('date', 'Y')}}
				Flow
			</p>

			<div>
				{% for menu in footerEnd.items %}
					<a href="{{menu.link}}">{{menu.title}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
</footer>
