{# Debug output #}
{% if pll_debug %}
	<div style="display: none;" id="pll-debug">
		<pre>{{ pll_debug|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
	</div>
{% endif %}

<div class="nav">
	<a class="nav-logo" href="/">
		<div class="nav-link">
			<img src="{{ site.theme.link }}/assets/images/logo-dark.svg" alt="" class="logo-default">
		</div>
	</a>

	<div class="nav-right">
		<div class="nav-toggle">
			<div class="hamburger">
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		</div>

		{% for menu in mainNavigationButton.items %}
			<a class="contact-wrapper" href="{{'/contact-us'|pll_e}}">{{menu.title}}</a>
		{% endfor %}
		{# <a href="https://calendly.com/flow_/booking" target="_blank" class="contact-wrapper" rel="nofollow noopener">
					{{ 'Book a Tour'|pll_e }}
				</a> #}
		{% if function('function_exists', 'pll_the_languages') %}
			{% set languages = function('pll_the_languages', {
				'hide_current': 1,
				'echo': 0,
				'display_names_as': 'slug',
				'raw': 1
			}) %}
			{% if languages is not empty %}
				{% for lang in languages %}
					<a href="{{ lang.url }}" class="contact-wrapper lang-item" lang="{{ lang.locale }}">
						{{ lang.slug|upper }}
					</a>
				{% endfor %}
			{% endif %}
		{% endif %}
	</div>
</div>

<div class="nav-popup">
	<div class="backdrop"></div>
	<div class="container">
		<div class="container-bg"></div>
		<div class="image-wrapper">
			<p>{{ 'Discover solutions to optimize how you and your team work'|pll_e }}</p>
			<div class="image">
				<img src="{{site.theme.link}}/assets/images/nav-default.png">
			</div>
		</div>
		<div class="content-wrapper" data-lenis-prevent>
			<div class="lang-picker-phone">
				{% if function('function_exists', 'pll_the_languages') %}
					{% set languages = function('pll_the_languages', {'hide_current': 1, 'echo': false, 'display_names_as': 'slug'}) %}
					{% if languages is iterable %}
						<div class="lang-switcher">
							{% for lang in languages %}
								<a href="{{ lang.url }}" class="lang-item {{ lang.classes|join(' ') }}" lang="{{ lang.locale }}">
									{{ lang.slug }}
								</a>
							{% endfor %}
						</div>
					{% endif %}
				{% endif %}
			</div>
			<p>{{ 'Workspace Solutions'|pll_e }}</p>
			<div class="nav-popup-menu">
				<div class="menu-left">
					<div class="bullet"></div>
					{% for menu in popup.items %}
						<div class="menu-left-link">
							<a href="{{menu.link}}" data-image="{{menu.master_object.thumbnail.src}}" data-desc="{{menu.master_object.meta.alt_desc}}" 
							{% if function('function_exists', 'pll_get_post_translations') and menu.master_object.id is defined %}
								{% set localized_data = menu.master_object.id|localize_post|add_alt %}
								{% if localized_data is not empty %}
									data-lang="{{localized_data|json_encode|url_encode}}" 
								{% endif %}
							{% endif %}
							class="menu-{{ loop.index }}">{{menu.title}}</a>
						</div>
					{% endfor %}
				</div>

				<div class="menu-right">
					{% for menu in popupRight.items %}
						<div class="menu-right-link">
							<a href="{{menu.link}}">{{menu.title}}</a>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="border"></div>
			<div class="nav-popup-footer">
				<div class="menu-social">
					{% for menu in popupSocial.items %}
						<a href="{{menu.link}}">{{menu.title}}</a>
					{% endfor %}
				</div>

				<div class="menu-terms">
					{% for menu in popupTerms.items %}
						<a href="{{menu.link}}">{{menu.title}}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
