{% extends "base.twig" %}

{% block content %}
    <div class="content-area">
        <div class="container">
            <article class="post-single">
                <header class="entry-header">
                    <h1 class="entry-title">{{ post.title }}</h1>
                    <div class="entry-meta">
                        <time datetime="{{ post.date|date('c') }}">{{ post.date }}</time>
                        {% if post.author %}
                            <span class="post-author">by {{ post.author.name }}</span>
                        {% endif %}
                    </div>
                </header>

                <div class="entry-content">
                    {{ post.content|raw }}
                </div>
            </article>
        </div>
    </div>
{% endblock %} 