{% extends 'base.twig' %}

{% block content %}
	{{post.content}}

	<section class="solution-related">
		<div class="container">
			{% for post in relatedPosts %}
				<div class="content-item {{ post.slug }}">
					<div class="image-wrapper">
						<a href="{{post.link}}">
							<img src="{{ post.thumbnail }}" alt="">
						</a>
					</div>

					<a href="{{ post.link }}" class="pill">{{ 'Learn More'|pll_e }}</a>

					<a href="{{ post.link }}">
						<h3>
							{{post.title}}
						</h3>
					</a>

					<p>
						{{post.excerpt|raw|nl2br|replace({'人までの<br />': '人までの'})}}
					</p>

					<div>
						<a href="{{post.link}}" class="btn btn-rounded">
							{{ 'Learn More'|pll_e }}
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
