<section class="solutions-list">
	<div class="container">
		{% for post in posts %}
			<div class="content-item">
				<div class="image-wrapper">
					<a href="{{ post.link }}">
						<img src="{{post.thumbnail}}" alt="">
					</a>
				</div>

				<div class="content-wrapper">
					<a class="title" href="{{ post.link }}">
						<h3>{{post.title}}</h3>
					</a>
					<p>
						{{post.excerpt}}
					</p>

					<a href="{{ post.link }}" class="btn btn-rounded light">
						Learn More</a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
