<section class="solutions-list" data-carousel>
	<div class="container" data-carousel-scroller>
		{% for post in posts %}
			<div data-hover='DRAG' class="content-item">
				<div class="image-wrapper">
					<a href="{{ post.link }}">
						<img src="{{ post.thumbnail.src }}" alt="{{ post.title }}">
					</a>
				</div>

				<div class="content-wrapper">
					<a href="{{ post.link }}" class="pill">
						{{ 'Learn More'|pll_e }}
					</a>
					<a class="title" href="{{ post.link }}">
						<h3>{{post.title}}</h3>
					</a>
					<p>
						{{post.excerpt.read_more(false)}}
					</p>

					<a data-hover='none' href="{{ post.link }}" class="btn btn-rounded light">
						{{ 'Learn More'|pll_e }}
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
